*{
    margin: 0;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size:27px;
    background-image: url(../img/fondoMedico.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
    height: 100vh;

}
            
h1 {
    font-family: serif;
    text-align: center;
    color: #377ba8;
    background-color: lightblue;
}
form {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 400px;
    padding-top: 16px;
    border-radius: 20px;
    margin-left: 50%;
    margin-top: 10%;
    padding-left: 16px;
    background-color: rgb(255, 255, 255); 
    padding-bottom: 25px;
}

.boton{
    margin-top: 5px;
    margin-left: 110px;
    font-weight: bold;
    width: 160px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #52cfba;
    color: #f7f7f7;
    margin-bottom: 15px;
} 
#boton1{
    margin-left: 110px;
    font-weight: bold;
    width: 160px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(79, 168, 252);
    color: #f7f7f7; 
}   
.user{
    margin-left: 16px;
    padding-top: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

} 
.errors{
    margin-left: 10px;
    padding-top: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}
  
#contras{
    margin-left: 7px;
}
#imagen{
    margin-left: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.datos2{
    font-size: 25px;
    margin-left: 16px;
    margin-right: 2%;
    margin-bottom: 4px;
    border-radius: 20px;
    padding-left: 15px;   
}
#index{ 
    margin: 15px;
    margin-left: 50px;
}

h2{
    color: #86c5f0;

}
h3{
    text-align: center;
    margin-left:0px;
    padding-left: 0px;
    color: #52cfba;
}
p{
    margin-top: 20px;
    margin-left: 110px; 
    font-size: 20px;
    font-weight: bold;
}

#boton2{
    padding-top: 10px;
    padding-bottom: 25px;
    margin-left: 50%;
    margin-top: 0%;
    padding-left: 16px;
    width: 400px;
    background-color: rgb(255, 255, 255); 
}
.record{
    margin-top: 0px;
    margin-left: 0px;
    font-size:18px;
    color:#86c5f0;
    font-family:Arial, Helvetica, sans-serif
}

