<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
       <!-- <meta http-equiv="refresh" content="2"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
       
        <title>Home</title>
    </head>
    

    <body>
        {% with messages=get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        
       <div id="main-container">
            <header>
                <div id="menu">                                   
                    <h2>Bienvenido a nuestro Web Site</h2>                     
                    <img src="{{ url_for('static', filename='img/redes.png') }}" width="200">                     
                </div>
                
                <main>
                    <div class="text">
                        <h1>Hospital San José</h1>
                        <p id="lema">Su Salud, Nuestra Misión</p>
                        <div class="botones">
                            <button id="boton_admon" onclick="location.href='login'"></button>
                            <button id="boton_medico" onclick="location.href='login'"></button>
                            <button id="boton_paciente" onclick="location.href='login'"></button>
                        </div>
                    </div>
                </main>
            </header>
            <br><br><br>
            <div id="noticias">
                <h2>Noticias para nuestros clientes</h2> 
                <p>Proximamente este sitio web estará a tu servicio para que puedas acceder y agendar todas tu citas médicas en el Hospital San josé, así como consultar tu historia médica, ver los reportes de los profesionales de la salud que te hayan atendido, descargar tus fórmulas médicas y calificar nuestro servicio.</p>

            </div>
            <br><br>

        </div>
       
                 
    </body>
    <div class="final">
        <h2 id="contacto">Contáctanos</h2>
        <br>


        <form name="formContacto" action="{{ url_for('home') }}" method="post" onsubmit="">

            {{form.nombre.label }}<br>
            {{form.nombre (class_="datos", size="40")}}<br>
            {{form.email.label }}<br>
            {{form.email (class_="datos", size="40")}}<br>
            {{form.mensaje.label }}<br>
            {{form.mensaje (class_="mensaje", rows="6", cols="52")}}
            {{form.enviar }}

        </form>
       
        <br>
        <a class="politica" href="{{ url_for('static', filename='pdf/politica.pdf') }}" target="_blank">Términos y Condiciones</a>


    </div>
    
</html>
